@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .hero-ring {
        @apply absolute mix-blend-difference inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-purple-300/5 shadow-[0_0_80px_inset] shadow-purple-300/5
    }
}

@layer utilities {
    .container {
        @apply lg:max-w-5xl;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #030712;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}